## House Prices - Advanced Regression Techniques
Predict sales prices and practice feature engineering, RFs, and gradient boosting

https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
from d2l import torch as d2l

In [2]:
train_data = pd.read_csv("./data/house-prices-advanced-regression-techniques/train.csv")
test_data = pd.read_csv("./data/house-prices-advanced-regression-techniques/test.csv")

print(train_data.shape,test_data.shape)

(1460, 81) (1459, 80)

In [3]:
train_data.iloc[0:4,[0,1,2,3,-4,-3,-2,-1]]

,Id,MSSubClass,MSZoning,LotFrontage,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,2008,WD,Normal,208500
1,2,20,RL,80.0,2007,WD,Normal,181500
2,3,60,RL,68.0,2008,WD,Normal,223500
3,4,70,RL,60.0,2006,WD,Abnorml,140000

In [4]:
test_data.iloc[0:4,[0,1,2,3,-4,-3,-2,-1]]

,Id,MSSubClass,MSZoning,LotFrontage,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,6,2010,WD,Normal
1,1462,20,RL,81.0,6,2010,WD,Normal
2,1463,60,RL,74.0,3,2010,WD,Normal
3,1464,60,RL,78.0,6,2010,WD,Normal

In [5]:
all_features = pd.concat((train_data.iloc[:, 1:-1], test_data.iloc[:, 1:]))
# 正则化 (均值为0 方差为1)
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std()))
all_features[numeric_features] = all_features[numeric_features].fillna(0)
all_features.iloc[[1,2,3],[-3,-2,-1]]

     YrSold SaleType SaleCondition
1 -0.602858       WD        Normal
2  0.157619       WD        Normal
3 -1.363335       WD       Abnorml

In [6]:
all_features = pd.get_dummies(all_features,dummy_na=True)
all_features.shape

(2919, 331)

In [8]:
train_num = all_features.shape[0]
train_features = torch.tensor(all_features[:train_num].values)
test_features = torch.tensor(all_features[train_num:].values)
train_lables = torch.tensor(train_data.iloc[:,-1].values.reshape((-1,1)),dtype=torch.float32)
train_lables

tensor([[208500.],
        [181500.],
        [223500.],
        ...,
        [266500.],
        [142125.],
        [147500.]])